$headdercolor: #0e0d12;
$backroundsectionnumber2: #0e0f13;
$footercolor: #0b0d11;

$concertsulcolor: #1b1e28;
$concertslicolor: #151821;
$concertlinecolor: #242833;

$btncolor: #f82c56;
$bluetextcolor: #4dd2ff;